html {
  height: 100%;
  width: 100%;
}

* {
  font-family: 'Consolas';
  color: white;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

i {
    color: grey;
}
